.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.App.game-body {
  display: none;
}

.game-body.show {
  /* opacity: 1; */
}
