.avatar-image-div {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  background-color: white;
}

.avatar-image-div.login {
  height: 14rem;
  width: 14rem;
}

.avatar-image-div.scoreboard {
  height: 5rem;
  width: 5rem;
}

.avatar-image-div.list {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar-image-div.chat {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: -0.5rem;
  /* background-color: white; */
  border: none;
  border-radius: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.avatar-image.transition {
  opacity: 0;
}
