.avatar-image-div {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #8fbcbb;
  /* background-color: black; */
  background-color: white;
}

.avatar-image-div.login {
  height: 14rem;
  width: 14rem;
}

.avatar-image-div.scoreboard {
  height: 5rem;
  width: 5rem;
}

.avatar-image-div.list {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.avatar-image.transition {
  opacity: 0;
}
