.chat {
  height: 90%;
  width: 30%;
  position: absolute;
  right: 1rem;
  border-radius: 20px;
  background-color: #1e272e9c;
  -webkit-box-shadow: 9px 8px 14px 4px rgba(62, 66, 66, 0.26);
  -moz-box-shadow: 9px 8px 14px 4px rgba(62, 66, 66, 0.26);
  box-shadow: 9px 8px 14px 4px rgba(62, 66, 66, 0.26);
}
