.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -200%);
  z-index: 20;
  pointer-events: none;
  animation: slide-down 2s ease-out forwards;
}

.login-form.hide {
  animation: slide-up 2s ease-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(-50%);
    pointer-events: all;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-200%);
    pointer-events: none;
  }
}

/* .login-form.show {
  transform: translate(-50%, -50%);
  pointer-events: all;
} */

.heading {
  text-align: center;
  color: #fff;
  font-family: "Open-Sans", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.4rem;
  background-color: #1e272e;
  height: 600px;
  width: 400px;
  border: 5px solid #c0c0c0;
  padding: 10px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatar-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-buttons {
  background: "none";
  border: "none";
  padding: 0;
  transition: all 0.3s ease;
}

.arrow-buttons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.arrow-buttons:active {
  transform: translateX(5%);
  transition: all 0.3s ease;
}

.form-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form input {
  height: 2.5rem;
  width: 20rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #4b5258;
  border: none;
  color: white;
  box-sizing: border-box;
}

.form input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #c0c0c0;
}

.form input::placeholder {
  color: #cacaca;
}

button {
  font-size: 2rem;
  font-weight: bolder;
  background-color: #c0c0c0;
  border: 1px solid #4b5258;
  border-radius: 4px;
  color: #4b5258;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

button:hover {
  background-color: #4b5258;
  color: white;
  cursor: pointer;
}
