.your-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #d9f2e6;
  position: relative;
  border-radius: 10px;
}

.other-players-message {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  position: relative;
}

.meassage-header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0 0rem;
}

.meassage-header p {
  font-weight: 800;
}

.your-message p,
.other-players-message p {
  color: #333;
  text-align: left;
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0;
}

.your-message p,
.other-players-message-body p {
  padding-bottom: 1rem;
}

.date {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8rem;
  color: #333;
}

.arrow {
  position: absolute;
  bottom: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d9f2e6;
}
